

blockquote {
    padding: 26px;
    position: relative;
    text-align: center;
    font-weight: $font-weight-medium;
    font-size: $font-size-hero-byline;
    border-left: 0px;
  
    p {
      margin-bottom: 0;
    }

    footer {
      font-size: 16px;
      margin-top: 16px;
      text-align: center;
    }
  
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 90px;
      height: 90px;
      border-top: 2px solid currentColor;
      border-left: 2px solid currentColor;
    }
  
    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      right: 0;
      width: 90px;
      height: 90px;
      border-bottom: 2px solid currentColor;
      border-right: 2px solid currentColor;
    }
  }
  
  