body {
    font-weight: $font-weight-thin;
    font-size: 16px;
    line-height: roundLineHeight(1.6, 16px, 4px, true);
    
    @include mq('sm') {
        font-size: 18px;
        line-height: roundLineHeight(1.6, 18px);
    }
}