p {
  margin-top: 0;
  margin-bottom: map-get($spacers, '4');
}

a {
  font-weight: $font-weight-bold;
  text-decoration: underline;

  &:link,
  &:visited,
  &:hover {
    color: inherit;
  }
}


img {
  width: 100%;
  height: auto;
  display: block;
}

blockquote {
  padding: 26px;
  position: relative;
  text-align: center;
  font-weight: $font-weight-medium;
  font-size: $font-size-hero-byline;
  border-left: 0px;

  p {
    margin-bottom: 0;
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    border-top: 2px solid currentColor;
    border-left: 2px solid currentColor;
  }

  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 90px;
    height: 90px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
  }
}

.container--wide {
  width: 100%;
}

.grid {
  margin-top: map-get($spacers, '4');
  margin-right: 0;
  margin-bottom: map-get($spacers, '4');
  margin-left: 0;
}

.hidden {
  display: none !important;
}
