
// Target IE11 Media query
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .c-header-desktop__logo svg {
    width: 139px !important;
    height: 56px !important;
  }

  body {
    display: block;
  }

  .c-section__bg-video {
    display: none;
  }
}
