
// Target IE11 Media query
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .c-header-desktop__logo svg {
    width: 139px !important;
    height: 56px !important;
  }

  body, .c-column__inner, .c-column, .c-section {
    display: block !important;
  }

  .c-section {
    min-height: 0 !important;
  }

  .c-section__bg-video {
    display: none;
  }

  %overlay {
    > *:not(.s-container-floating-logo) {
      position: relative;
      // z-index: $level-2;
    }
  }
}
