
.textwidget > *:last-child {
    margin-bottom: 0;
}

// Temp
#cookie-consent {
    display: none !important;
}

.c-column.c-column--hbg-logo {
    .c-single-image img {
        margin-right: auto;
        margin-left: auto;
        max-width: 80px;
    }

    position: absolute;
    padding: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: $element-margin;

    @include mq('md') {
        .c-single-image img {
            margin-left: auto;
            max-width: 80px;
            margin-right: initial;
        }
        .c-single-image .c-single-image__inner {
            padding-right: 32px;
            padding-left: 32px;
        }
        
        // right: 40px;
        // left: initial;
        // margin: initial;
    }
    @include mq('lg') {
        .c-single-image .c-single-image__inner {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.c-section.has-fill,
.c-column .c-column__inner.has-fill {
    background-size: cover;
    background-repeat: no-repeat;
}

.c-header-mobile,
.c-header-desktop {
  a.logotype, .logotype svg {
    display: block;
  }
}

.c-button-group__link--inverted.btn-text:link, .c-button-group__link--inverted.btn-text:visited {
    border-color: transparent;
}

.c-header-desktop, .c-header-mobile {
    .logotype svg {
        height: $base * 7;
        width: auto;
    }
}

.c-footer {
    font-weight: 300;
    p {
        color: $color-base-invert-secondary;
    }
}

.c-footer .c-footer__logos {
    padding-top: 48px;
    border-top: solid 1px $color-base-invert-disabled;

    svg {
        width: auto;
        height: 96px;
    }
}

// Woocommerce
.fa.fa-shopping-cart.woocommerce {
    font-size: 24px;
}

ul.tabs.wc-tabs, 
ul.products,
#payment ul.wc_payment_methods.payment_methods.methods,
ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
  @include unlist();
}

.woocommerce {
  table.shop_table th {
    @extend .o-text-meta;
  }

  .product form.cart button.button {
    @extend .btn, .btn--fill;
    border-color: $color-red;
    font-weight: 400;
  }
  

  .woocommerce-cart-form td.actions button.button {
    @extend .btn;
  }
  
  .woocommerce-cart-form td.actions button.button[name="apply_coupon"] {
    margin-left: $base * 2;
  }
  .woocommerce-cart-form td.actions button.button[name="update_cart"] {
    @extend .btn--fill;
  }
}

#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
  @include input-reset;
  height: auto;
  padding: $base * 1.5;
  border: 1px solid $color-form-input-border;
  border-radius: 2px;
  background-color: $color-white;
  font-size: 1rem;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 1px $color-blue;
    border-color: $color-blue;
    background-color: $color-white;
  }
}

.c-post-list {
  a.c-card__link.c-card__link--read-more {
    @extend .o-text-meta;
    border-bottom: solid 2px;
    font-size: $font-size-meta;
    display: inline-block;
    position: absolute;
    left: $base * 3;
    bottom: $base * 3;
    color: $color-purple;
    border-color: $color-purple;
    &:after {
        display: none;
    }
  }
}


%caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 8px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.c-dropdown {
  position: relative;
}

.c-dropdown__toggle {
  cursor: pointer;
}

.c-dropdown__toggle:after {
  @extend %caret;
  content: '';
  transform: rotate(0);
  transition: transform .15s ease-in-out;
}

.c-dropdown.is-active > .c-dropdown__toggle:after {
  transform: rotate(180deg);
}

.c-dropdown .c-dropdown__body {
  position: absolute;
  left: 0;
  top: 100%;
}

.c-dropdown > .c-dropdown__body {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-15%) scale(0.3);
  transform-origin: top;
  transition: visibility .20s,transform .20s ease-out, opacity .15s ease-in;
}

.c-dropdown.is-active > .c-dropdown__body {
  visibility: visible;
  opacity: 1;
  display: block;
  transform: translateY(0%) scale(1);
  transform-origin: top;
  transition: visibility 0s,transform .20s ease-in, opacity .15s ease-in;
}

.c-header-desktop {
  .sub-menu {
    background-color: black;
    top: 150%;
    left: -14px;
    width: 200%;
    width: max-content;
    max-width: 200%;
    border-radius: 2px;
    padding: $base 0;
    li {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    li:after {
      display: none;
    }

    li a {
      display: block;
      padding: $base $base * 2;
      color: white;
      opacity: 0.6;
    }

    li a:hover,
    li.current-menu-item a {
      opacity: 1;
    }     
  }
  .c-dropdown.is-active {
    .c-dropdown__toggle {
      color: black;
    }
  }
  
}
.c-header-mobile {
  .sub-menu {
    margin-top: $base / 2;
    margin-bottom: $base * 1.5;
  }
  .sub-menu li {
    margin: 0;
  }
  .sub-menu li a {
    font-size: $font-size-body;
  }

  .c-dropdown {
    .c-dropdown__body {
      display: none;
      position: initial;
    }
  }
  .c-dropdown.is-active {
    .c-dropdown__body {
      display: block;
    }
  }
}
