@mixin suppress-margin-top {
  &:before {
    display: block;
    content: '';
    margin-top: 10rem;
    margin-bottom: -10rem;
  }
}

@mixin suppress-margin-bottom {
  &:after {
    display: block;
    content: '';
    margin-top: -10rem;
    margin-bottom: 10rem;
  }
}

@mixin c-column-text-color-theme($color, $bg-color) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color;
  }
  .cta-link {
    &:before {
      background-color: $color;
      color: $bg-color;
    }
  }
}

@mixin mixLoopStyles(
  $className,
  $values,
  $dimensions: null,
  $breakpoints: all,
  $limitToBreakpoint: true
) {
  $breakpoints: validateBreakpointList($breakpoints, $limitToBreakpoint);

  @each $breakpoint in $breakpoints {
    $suffix: get-breakpoint-suffix($breakpoint, true);
    $next: null;

    @if $limitToBreakpoint == true {
      $next: next-breakpoint($breakpoint);
    }

    @include mq($breakpoint, $next) {
      @each $valueSuffix, $styles in $values {
        $class: #{$className}#{$valueSuffix}#{$suffix};

        #{$class} {
          @each $propety, $style in $styles {
            #{$propety}: #{$style};
          }
        }

        @if type-of($dimensions) == 'map' {
          @each $dimensionClass, $dimensionPropety in $dimensions {
            @if type-of($dimensionPropety) != 'list' {
              $dimensionPropety: ($dimensionPropety);
            }

            $dimensionClass: #{$className}#{$dimensionClass}#{$valueSuffix}#{$suffix};
            #{$dimensionClass} {
              @each $style in map-values($styles) {
                @each $propety in $dimensionPropety {
                  #{$propety}: #{$style};
                }
              }
            }
          }
        }
      }
    }
  }
}

@mixin object-fit($fit: fill, $position: null) {
  -o-object-fit: $fit;
  object-fit: $fit;
  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
    font-family: 'object-fit: #{$fit}';
  }
}

@mixin input-reset() {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  font-size: inherit;

  // Leaving out Helvetica Neue, to not throw off size="..."
  // on inputs. Arial is more reliable, on Windows and OS X.
  font-family: inherit;

  // Undo WebKit defaults
  -webkit-appearance: none;

  // Adjust background display
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;

  // Remove rounded corners
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  // Change box model
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  // Get rid of up/down, plus/minus buttons
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

/** Visually Hidden
 * Make an element visually hidden, but accessible to assistive technology
 * @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}


@mixin mixResponsiveStyles($styles, $breakpoints: all, $limitToBreakpoint: true) {
    $breakpoints: validateBreakpointList($breakpoints, $limitToBreakpoint);

    @each $breakpoint in $breakpoints {
        $suffix: get-breakpoint-suffix($breakpoint, true);
        $next: null;

        @if $limitToBreakpoint == true {
            $next: next-breakpoint($breakpoint);
        }

        @include mq($breakpoint, $next) {
            @each $selector, $style in $styles {
                $class: #{$selector}#{$suffix};

                #{$class} {
                    @each $propety, $value in $style {
                        #{$propety}: #{$value};
                    }
                }
            }
        }
    }
}

@mixin object-fit($fit: fill, $position: null){
  -o-object-fit: $fit;
     object-fit: $fit;
  @if $position {
	  -o-object-position: $position;
	     object-position: $position;
  	font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
  	font-family: 'object-fit: #{$fit}';
  }
}

@function roundLineHeight($lineHeight, $fontSize, $base: 8, $alwaysRoundUp: false) {
  @if unitless($lineHeight) {
    $lineHeight: $lineHeight * $fontSize;
  }

  @if ($fontSize >= $lineHeight or $alwaysRoundUp) {
    $lineHeight: ceil($lineHeight / $base) * $base / $fontSize;
  } @else {
    $lineHeight: round($lineHeight / $base) * $base / $fontSize;
  }

  @return strip-unit($lineHeight);
}

// @debug roundLineHeight(1.2, 32px);

// 1em (18.00px) - Body 24px | 20px
// 1.266em (22.78px) - lead & Body Large 24px | 24px
// 0.79em (14.22px) - Caption & Meta (?) 16px | 14px
// 3.247em (58.45px) - Display 1 64px | 60
// 2.887em (51.96px)  - Display 2 56px
// 2.566em (46.18px) - Display 3  48px
// 2.281em (41.05px) - Display 4  48px
// 1.802em (32.44px) - H1 / Headline 40px
// 1.602em (28.83px) - H2 / Title 32px
// 1em (18.00px) - h3 / Subtitle 24px
// 0.889em (16.00px) - h4 / h5 / h6 24px



