@each $name, $color in $brand-colors {
    .t-#{$name}-fill {
        background-color: $color;
        color: white;
		h1, h2, h3, h4, h5, h6, .c-teaser__meta {
			color: white;
		}
		.c-teaser .cta-link::before {
			background-color: white;
			color: $color;
		}

		
	}
	.t-#{$name}-invert {
        background-color: white;
		h1, h2, h3, h4, h5, h6 {
			color: $color;
		}
		.c-teaser .cta-link::before {
			background-color: $color;
			color: white;
		}
	}
}