.u-min-height-sm {
	min-height: 300px;
}
.u-min-height-md {
	min-height: 450px;
}
.u-min-height-lg {
	min-height: 600px;
}

.u-min-height-xl {
	min-height: 750px;
}

.u-light {
	font-weight: $font-weight-thin;
}
