// Margins
@include mixLoopStyles(
    '.u-m',
    (
        '-0'    : (margin: 0px !important),
        '-1'    : (margin: $base !important),
        '-2'    : (margin: $base * 2!important),
        '-3'    : (margin: $base * 3 !important),
        '-4'    : (margin: $base * 4 !important),
        '-5'    : (margin: $base * 5 !important),
        '-6'    : (margin: $base * 6 !important),
        '-7'    : (margin: $base * 7 !important),
        '-8'    : (margin: $base * 8 !important),
        '-auto' : (margin: auto !important),

    ),
    (
        'x'     : ('margin-left', 'margin-right'),
        'y'     : ('margin-top', 'margin-bottom'),
        'l'     : 'margin-left',
        'r'     : 'margin-right',
        't'     : 'margin-top',
        'b'     : 'margin-bottom',
    )
);

.u-min-height-sm {
	min-height: 300px;
}
.u-min-height-md {
	min-height: 450px;
}
.u-min-height-lg {
	min-height: 600px;
}

.u-min-height-xl {
	min-height: 750px;
}

.u-light {
	font-weight: $font-weight-thin;
}
