@import 'variables';
@import 'mixins';

@import '~styleguide.local/source/sass/main.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&display=swap&subset=latin-ext');

@import 'font-awesome/font-awesome';

.article h1 {
    color: $color-black;
}

@import 'global';

@import 'objects';

@import 'components/header';
@import 'components/header-mobile';
@import 'components/breadcrumbs';
@import 'components/footer';
@import 'components/button-group';
@import 'components/card';
@import 'components/column';
@import 'components/grid';
@import 'components/hero';
@import 'components/section';
@import 'components/single-image';
@import 'components/teaser';
@import 'components/tabs';
@import 'components/video-popup';
@import 'components/paper';
@import 'components/post-meta';
@import 'components/post-list';
@import 'components/share-bar';
@import 'components/modal';
@import 'components/archive';
@import 'components/pagination';
@import 'components/notice';
@import 'components/button';

@import 'generic/forms';

@import 'elements/forms';
@import 'components/paper';
@import 'components/tabs';
@import 'components/share-bar';
@import 'components/modal';

@import 'pages/404';

@import 'theme';
@import 'utilities';

// Temp
#cookie-consent {
    display: none !important;
}

.o-display-1, .o-display-2 {
    font-weight: 300;
    line-height: 1.1;
}

.o-display-1 {
    font-size: 64px;
}

.o-display-2 {
    font-size: 56px;
}


.lead {
    font-weight: 300;
}

.c-section.has-fill,
.c-column .c-column__inner.has-fill {
    background-size: cover;
    background-repeat: no-repeat;
}

.c-header-mobile,
.c-header-desktop {
  a.logotype, .logotype svg {
    display: block;
  }
}

.c-button-group__link--inverted.btn-text:link, .c-button-group__link--inverted.btn-text:visited {
    border-color: transparent;
}

.c-header-desktop, .c-header-mobile {
    .logotype svg {
        height: $base * 7;
        width: auto;
    }
}