@import 'variables';
@import 'mixins';

@import '~styleguide.local/source/sass/main.scss';

@import 'global';

@import 'components/header';
@import 'components/header-mobile';
@import 'components/breadcrumbs';
@import 'components/footer';
@import 'components/button-group';
@import 'components/card';
@import 'components/column';
@import 'components/grid';
@import 'components/hero';
@import 'components/section';
@import 'components/single-image';
@import 'components/teaser';
@import 'components/video-popup';
@import 'components/paper';
@import 'components/tabs';

@import 'pages/404';

@import 'utilities';

.container.container--content {
  max-width: 632px;
}

.container.container--small {
  max-width: 456px;
}

.c-element {
  margin-bottom: $base * 6;
}

.o-text-meta {
  font-size: $font-size-meta;
}

.c-card__text {
  font-size: $font-size-meta;
}

// Temp
#cookie-consent {
  display: none !important;
}
