@each $name, $color in $brand-colors {
    .t-#{$name}-fill {
        background-color: $color;
        color: white;
		h1, h2, h3, h4, h5, h6, 
		.h1, .h2, .h3, .h4, .h5, .h6,
		.c-teaser__meta {
			color: white;
		}
		.c-teaser .cta-link::before {
			background-color: white;
			color: $color;
		}

		.c-share-bar .c-share-bar__heading {
			color: white;
		}
		
	}
	.t-#{$name}-invert {
        background-color: white;
		h1, h2, h3, h4, h5, h6, 
		.h1, .h2, .h3, .h4, .h5, .h6 {
			color: $color;
		}
		.c-teaser .cta-link::before {
			background-color: $color;
			color: white;
		}

		.c-share-bar .share > li > a {
			background-color: $color;
    }
    
    .c-column--border > .c-column__inner {
      border-color: $color;
    }

    .u-border-bottom {
      border-bottom-color: $color;
    }
	}
}
