.c-card {
  // margin: map-get($spacers, '2');
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  &--left {
    text-align: left;
  }
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }

  &__title {
    line-height: 1.25em;
    margin-bottom: map-get($spacers, '1');
  }
}

.c-card--clickable {
  // This makes it possible for a link to cover the whole card.
  position: relative;
  &:hover {
    // This adds a hover effect for the entire card.
  }
  &:focus-within {
    // For browser supporting `:focus-within`
  }

  .c-card__link {
    &:focus {
      // For browser NOT supporting `:focus-within`
      text-decoration: underline;
    }
    &:after {
      // This makes the link cover the whole card.
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .c-card__text {
    // This places the card text in front of the covering link do that its contents are interactive.
    position: relative;
  }
}

.c-card__image-wrapper {
  position: relative;

  &:after {
    content: '';
    display: block;
  }

  &--4by3 {
    &:after {
      padding-bottom: (3/4 * 100%);
    }
  }

  &--16by9 {
    &:after {
      padding-bottom: (9/16 * 100%);
    }
  }

  &--1by1 {
    &:after {
      padding-bottom: (1/1 * 100%);
    }
  }

  img.c-card__image {
    position: absolute;
    @include object-fit(cover);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.c-card__meta {
  font-size: $font-size-meta;
  color: $color-gray;
}

.c-card--without-image {
  justify-content: flex-end;
  .c-card__title {
    font-size: $font-size-card-no-image;
  }
}
