.c-column {
  display: flex;
  flex-direction: column;
  &--align-middle {
    justify-content: center;
  }
  &--align-bottom {
    justify-content: flex-end;
  }
  &--text-align-center {
    text-align: center;
  }
  &--text-align-right {
    text-align: right;
  }
}

.c-section .c-column {
  position: relative;
  @each $name, $color in $brand-colors {
    &--color-theme-#{$name} {
      background: $color-white;
      color: $color-black;
    }
  }
  @each $name, $color in $brand-colors {
    &--color-theme-bg-#{$name} {
      background: $color;
      color: $color-white;
    }
  }
}

.c-section--min-height-sm {
  .c-column {
    min-height: 300px;
  }
}
.c-section--min-height-md {
  .c-column {
    min-height: 450px;
  }
}
.c-section--min-height-lg {
  .c-column {
    min-height: 600px;
  }
}
.c-section--min-height-xl {
  .c-column {
    min-height: 750px;
  }
}

// .c-column__inner {
// 	@include suppress-margin-top;
// 	@include suppress-margin-bottom;
// }

@each $name, $color in $brand-colors {
  .c-column--color-theme-#{$name} {
    .c-column-text {
      @include c-column-text-color-theme($color, $color-white);
    }
  }
}
