.grid {
  margin-top: 0;
  margin-bottom: 0;
}

.grid {
	margin-left: $base * -0.5;
	margin-right: $base * -0.5;

	@include mq('sm') {
		margin-left: $grid-gutter-sm / 2 * -1;
		margin-right: $grid-gutter-sm / 2 * -1;
	}
}

.grid.grid--no-gutter {
    margin-left: 0;
    margin-right: 0;

    > .c-column {
        padding-left: 0;
        padding-right: 0;
    }
}

.grid.grid--compact {
	margin-left: $grid-compact-gutter-xs * -0.5;
	margin-right: $grid-compact-gutter-xs * -0.5;

	@include mq('sm') {
		margin-left: $grid-compact-gutter-sm * -0.5;
		margin-right: $grid-compact-gutter-sm * -0.5;
	}

	> [class*="grid-"] {
		padding-left: $grid-compact-gutter-xs * 0.5;
		padding-right: $grid-compact-gutter-xs * 0.5;
	
		@include mq('sm') {
			padding-left: $grid-compact-gutter-sm * 0.5;
			padding-right: $grid-compact-gutter-sm * 0.5;
		}
	}
}

