.grid {
  margin-top: 0;
  margin-bottom: 0;
}

.c-column {
	margin-bottom: 0;
}


.c-element {
    margin-bottom: $base * 6;
}

.grid {
	margin-left: $base * -0.5;
	margin-right: $base * -0.5;

	@include mq('sm') {
		margin-left: $base * -1.5;
		margin-right: $base * -1.5;
	}
}

.grid.grid--no-gutter {
    margin-left: 0;
    margin-right: 0;

    > .c-column {
        padding-left: 0;
        padding-right: 0;
    }

}

.container {
	width: 100%;
	padding-left: $base * 2;
	padding-right: $base * 2;

	@include mq('sm') {
		padding-left: $base * 3;
		padding-right: $base * 3;
	}
}.container.container--content {
    max-width: 632px;
}

.container.container--small {
    max-width: 456px;
}
