.grid {
	margin-top: 0;
	margin-bottom: 0;
}

.c-column {
	margin-bottom: 0;
}

.grid {
	margin-left: $base * -0.5;
	margin-right: $base * -0.5;

	@include mq('sm') {
		margin-left: $base * -1.5;
		margin-right: $base * -1.5;
	}
}

.container {
	width: 100%;
	padding-left: $base * 2;
	padding-right: $base * 2;

	@include mq('sm') {
		padding-left: $base * 3;
		padding-right: $base * 3;
	}
}