.c-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // overflow: hidden;
  // position: relative;

  &--color-theme-red {
    background: $color-white;
  }
  &--color-theme-green {
    background: $color-white;
  }
  &--color-theme-blue {
    background: $color-white;
  }
  &--color-theme-purple {
    background: $color-white;
  }
  &--color-theme-bg-red {
    background: $color-red;
    color: $color-white;
  }
  &--color-theme-bg-green {
    background: $color-green;
    color: $color-white;
  }
  &--color-theme-bg-blue {
    background: $color-blue;
    color: $color-white;
  }
  &--color-theme-bg-purple {
    background: $color-purple;
    color: $color-white;
  }
  &--with-background {
    color: $color-white;
    background-color: $color-black;
  }
  & > * {
    // position: relative;
  }
}

.c-section {
  padding: $section-padding 0 $section-padding 0;
}

.c-section.c-section--subtract-bot {
  padding: $section-padding 0 #{$section-padding - $element-margin} 0;
}

.c-section.c-section--small {
  padding: $element-margin 0 $element-margin 0;
}

.c-section.c-section--small.c-section.c-section--subtract-bot {
  padding: $element-margin 0 0 0;
}

.c-section.c-section--no-pad {
  padding: 0 0 0 0;
}

.c-section.c-section__bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  @include object-fit(cover);

  top: 0;
  left: 0;
  .c-section--with-overlay & {
    opacity: 0.5;
  }
  z-index: 0;
}

.c-section__bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  @include object-fit('cover');

  top: 0;
  left: 0;
  .c-section--with-overlay & {
    opacity: 0.5;
  }
}


// .c-section .c-column {
// 	position: relative;
// 	@each $name, $color in $brand-colors {
// 		&--color-theme-#{$name} {
// 			background: $color-white;
// 			color: $color-black;
// 		}
// 	}
// 	@each $name, $color in $brand-colors {
// 		&--color-theme-bg-#{$name} {
// 			background: $color;
// 			color: $color-white;
// 		}
// 	}
// }

.c-section--min-height-sm {
	min-height: 304px;
}
.c-section--min-height-md {
	min-height: 448px;
}
.c-section--min-height-lg {
	min-height: 600px;
}
.c-section--min-height-xl {
	min-height: 752px;
}

.c-section--min-height-100vh {
	min-height: 100vh;
}

.c-section--min-height-90vh {
	min-height: 90vh;
}

.c-section--min-height-80vh {
	min-height: 80vh;
}

.c-section--min-height-70vh {
	min-height: 70vh;
}

.c-section--min-height-60vh {
	min-height: 60vh;
}

.c-section--header-lg {
	min-height: calc(100vh - 88px - 48px); // Viewport Height - Header Height - Element Spacing
}

.logged-in {
	.c-section--header-lg {
		min-height: calc(100vh - 88px -  48px - 46px);  // Viewport Height - Header Height - Element Spacing - WP Admin Bar
	}

	@media screen and (min-width: 783px) {
		.c-section--header-lg {
			min-height: calc(100vh - 88px - 48px - 32px);   // Viewport Height - Header Height - Element Spacing - WP Admin Bar Desktop
		}
	}
}


.c-section--floating-logo {
	min-height: calc(100vh - 88px - 48px - 48px - 48px); // Viewport Height - Header Height - Element Spacing - Logo Fix
}

.logged-in {
	.c-section--floating-logo {
		min-height: calc(100vh - 88px -  48px - 46px  - 48px);  // Viewport Height - Header Height - Element Spacing - WP Admin Bar - Logo Fix
	}

	@media screen and (min-width: 783px) {
		.c-section--floating-logo {
			min-height: calc(100vh - 88px - 48px - 32px);   // Viewport Height - Header Height - Element Spacing - WP Admin Bar Desktop - Logo Fix
		}
	}
}
