.c-share-bar {
  .share {
    @include unlist;
    padding: 0;
    margin: 0;
    display: inline-flex;
    margin: (-1 * map-get($spacers, '1'));
    & > li {
      padding: 0;
      margin: map-get($spacers, '1');
      & > a {
        @extend .fa;
        color: $color-white;
        background: $color-black;
        border-radius: 9999px;
        width: $base * 5;
        height: $base * 5;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: $base * 3;
        text-decoration: none;
        &.share-social-facebook {
          @extend .fa-facebook;
        }
        &.share-social-linkedin {
          @extend .fa-linkedin;
        }
        &.share-social-twitter {
          @extend .fa-twitter;
        }
        &.share-social-email {
          @extend .fa-envelope;
        }
        & > span {
          display: none;
        }
      }
    }
  }
}

.c-share-bar .c-share-bar__heading {
  // font-size: $font-size-caption;
  // font-weight: inherit;
  // line-height: inherit;
  margin-bottom: map-get($spacers, '2');
  // color: $color-gray;
}
