.c-tabs {
  &__button {
    &[aria-expanded='true'] {
      border-bottom-color: $color-black;
    }
  }

  &__content {
    .c-element {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .c-single-image {
      padding: 0;

      .c-single-image__image-wrapper {
        position: relative;
        left: initial;
        top: initial;
        bottom: initial;
        right: initial;

        &:after {
          content: none;
        }
      }

      img {
        position: relative;
        left: initial;
        top: initial;
        width: 100%;
        height: auto;
        object-fit: initial;
        font-family: initial;
      }
    }
  }
}
